* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV-BAR SECTION */

body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

#page-wrapper{
   position: relative;
}

#header{
    position: fixed;
    top: 0;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo{
    width: 60vw;
}

#header-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    max-width: 300px;
}

#nav-bar > ul{
    width: 35vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#nav-bar a {
    text-decoration: none;
    color: #000;
}

/* END NAV-BAR SECTION */

/* HERO SECTION */

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;  
}

#hero h2 {
    margin-bottom: 20px;
}

#hero input[type='email']{
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

.btn{
    padding: 0 20px;
    /* height: 40px; */
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    /* border: 3px black solid; */
    border-radius: 2px;
    background: transparent;
    cursor: pointer; 
}

#hero input[type='submit']{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

#hero input[type='submit']:hover{
    background-color: orange;
    transition: background-color 1s;
}

/* END HERO SECTION */
