* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV-BAR SECTION */

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

#page-wrapper {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #eee;
}

.logo {
  width: 60vw;
}

#header-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  max-width: 300px;
}

#nav-bar > ul {
  width: 35vw;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#nav-bar a {
  text-decoration: none;
  color: #000;
}

/* END NAV-BAR SECTION */

/* HERO SECTION */

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#hero h2 {
  margin-bottom: 20px;
}

#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

#hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

/* END HERO SECTION */

/* FEATURES SECTION */

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#features {
  margin-top: 30px;
}

.grid {
  display: flex;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

/* END FEATURES SECTION */

/* HOW IT WORKS SECTION */

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

/* END HOW IT WORKS SECTION */

/* PRICING SECTION */

#pricing {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product-title {
  background-color: #ddd;
  color: #000;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
  list-style: none;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

/* END PRICING SECTION *

/* FOOTER SECTION */

#footer {
  margin-top: 30px;
  padding: 20px;
  background-color: #ddd;
}

#footer ul {
  display: flex;
  justify-content: flex-end;
}

#footer ul li {
  padding: 0 10px;
  list-style: none;
}

#footer span {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 0.9em;
  color: #444;
}

/* END FOOTER SECTION */

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  #pricing {
    grid-template-columns: 1fr ;
  }

  .product{
    max-width: 300px;
    width: 100%;    
    margin: 0 auto;
    margin-bottom: 10px;
  }
}